body 
{
	background-color: #faf2c3;
}

#island1
{
	position: absolute;
	margin: auto;
	width: 7%;
	height: 7%;
	right: 10%;
	top: 20%;
	background: linear-gradient(180deg,	#f6d7b0 0%, #e7c496 50%, transparent 50%);
	border-radius: 50%;
	overflow: ;
}

#ocean1
{
	position: relative;
	height: 200%;
	width: 200%;
	top: -40%;
	right: 47%;
	background: radial-gradient(#00dfff, transparent 65%);
	z-index: -2;

}

#tree
{
	position: absolute;
	background-color: #DAC7A5;
	width: 10%;
	height: 25%;

	top: -5%;
	left: 25%;
	z-index: -1;
	transform: rotate(-15deg);
}

.trunk
{
	position: absolute;
	transform: rotate(285deg);
	border-bottom: 2px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 12px solid #DAC7A5;
    height: 65%;
}

.one
{
	top: -80%;
	left: -10%;
	transform: rotate(270deg);
}

.two
{
	top: -160%;
	left: -12%;
	transform: rotate(265deg);
}

.three
{
	top: -240%;
	left: -35%;
	transform: rotate(255deg);
}

.four
{
	top: -320%;
	left: -65%;
	transform: rotate(250deg);
}

.leaf
{
	position: absolute;
	height: 15px;
	width: 100%;
	height: 300%;
	background: conic-gradient(
		from 0deg,
		green 0deg 180deg,
		lightgreen 180deg 360deg
	);
	transform: rotate(105deg);
	border-radius: 50%;
}

#texture1
{
	position: absolute;
	border-bottom: 1px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 6px solid #faf2c3;
    background-color: transparent;
    top: 20%;
    left: -15%;
    transform: rotate(15deg);
}

#texture2
{
	position: absolute;
	border-bottom: 1px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 6px solid #faf2c3;
    background-color: transparent;
    top: 35%;
    left: 60%;
    transform: rotate(165deg);
}

#texture3
{
	position: absolute;
	border-bottom: 1px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 6px solid #faf2c3;
    background-color: transparent;
    top: 70%;
    left: -15%;
    transform: rotate(-15deg);
}

.en 
{
	top: -435%;
	left: 110%;
}

.to 
{
	background: conic-gradient(
		from 0deg,
		lightgreen 0deg 10deg,
		green 10deg 190deg,
		lightgreen 180deg 360deg
	);
	top: -550%;
	left: 60%;
	transform: rotate(45deg);
}

.tre 
{
	background: conic-gradient(
		from 0deg,
		green 0deg 170deg,
		lightgreen 170deg 345deg,
		green 345deg 360deg
	);
	top: -535%;
	left: -150%;
	transform: rotate(145deg);
}

.fire
{
	background: conic-gradient(
		from 0deg,
		green 0deg 170deg,
		lightgreen 170deg 345deg,
		green 345deg 360deg
	);
	top: -415%;
	left: -200%;
	transform: rotate(80deg);
}

#tree1
{
	position: absolute;
	background-color: #DAC7A5;
	width: 10%;
	height: 25%;

	top: 15%;
	left: 75%;
	z-index: -1;
	transform: scale(-1, 1);
}
