body 
{
/*	background-color: #faf2c3;*/
	background-color: white;
}

#island1
{
	position: absolute;
	margin: auto;
	width: 5%;
	height: 5%;
	right: 47.5%;
	top: 15%;
	background: linear-gradient(180deg,	#f6d7b0 0%, #e7c496 30%, transparent 50%);
	border-radius: 50%;
	overflow: ;
}

#sand
{
	position: absolute;
	width: 200%;
	height: 200%;
	top: -40%;
	left: -42.5%;
	opacity: .5;
	background: radial-gradient(transparent, transparent 75%);
	border-radius: 50%;
}

#ocean1
{
	position: relative;
	height: 200%;
	width: 200%;
	top: -40%;
	right: 47%;
	background: radial-gradient(#00dfff, transparent 65%);
	z-index: -2;

}

#tree
{
	position: absolute;
	background-color: #b99d4f;
	width: 10%;
	height: 25%;

	top: -5%;
	left: 25%;
	z-index: -1;
	transform: rotate(-15deg);
}

.trunk
{
	position: absolute;
	transform: rotate(285deg);
	border-bottom: 2px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 12px solid #b99d4f;
    height: 65%;
}

.one
{
	top: -80%;
	left: -10%;
	transform: rotate(270deg);
}

.two
{
	top: -160%;
	left: -12%;
	transform: rotate(265deg);
}

.three
{
	top: -240%;
	left: -35%;
	transform: rotate(255deg);
}

.four
{
	top: -320%;
	left: -65%;
	transform: rotate(250deg);
}

.leaf
{
	position: absolute;
	height: 15px;
	width: 100%;
	height: 300%;
	/*background: conic-gradient(
		from 0deg,
		green 0deg 180deg,
		lightgreen 180deg 360deg
	);*/
	background: radial-gradient(green 15%, lightgreen);
	transform: rotate(105deg);
	border-radius: 50%;
}

#texture1
{
	position: absolute;
	border-bottom: 1px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 6px solid white;
    background-color: transparent;
    top: 20%;
    left: -15%;
    transform: rotate(15deg);
}

#texture2
{
	position: absolute;
	border-bottom: 1px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 6px solid white;
    background-color: transparent;
    top: 35%;
    left: 60%;
    transform: rotate(165deg);
}

#texture3
{
	position: absolute;
	border-bottom: 1px solid transparent;
    border-Top: 2px solid transparent;
    border-left: 6px solid white;
    background-color: transparent;
    top: 70%;
    left: -15%;
    transform: rotate(-15deg);
}

.en 
{
	top: -435%;
	left: 110%;
}

.to 
{
	/*background: conic-gradient(
		from 0deg,
		lightgreen 0deg 10deg,
		green 10deg 190deg,
		lightgreen 180deg 360deg
	);*/
	top: -550%;
	left: 60%;
	transform: rotate(45deg);
}

.tre 
{
	/*background: conic-gradient(
		from 0deg,
		green 0deg 170deg,
		lightgreen 170deg 345deg,
		green 345deg 360deg
	);*/
	top: -535%;
	left: -150%;
	transform: rotate(145deg);
}

.fire
{
	/*background: conic-gradient(
		from 0deg,
		green 0deg 170deg,
		lightgreen 170deg 345deg,
		green 345deg 360deg
	);*/
	top: -415%;
	left: -200%;
	transform: rotate(80deg);
}

#tree1
{
	position: absolute;
	background-color: #DAC7A5;
	width: 10%;
	height: 25%;

	top: 15%;
	left: 75%;
	z-index: -1;
	transform: scale(-1, 1);
}

.step 
{
	position: absolute;
	width: 10px;
	height: 20px;
	background-color: darkslategray;
	opacity: .8;
	left: 50%;
	top: 25%;
	border-radius: 25%;
	filter: blur(1px);
}

.first
{
	top: 30%;
	left: 49.5%;
	transform: rotate(15deg);
}

.second
{
	top: 35%;
	left: 48.5%;
	transform: rotate(25deg);
}

#island2
{
	position: absolute;
	margin: auto;
	width: 5%;
	height: 5%;
	right: 52.5%;
	top: 47%;
	background: linear-gradient(180deg,	#f6d7b0 0%, #e7c496 30%, transparent 50%);
	border-radius: 50%;
}

#grass
{
	position: absolute;
	background: linear-gradient(180deg, greenyellow, transparent 25%);
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

#fort 
{
	position: absolute;
	width: 40%;
	height: 100%;
	top: -95%;
	left: 30%;
	background-image: url("seabrick.png");
	background-repeat: repeat;
	background-size: 50% 50%;
}

.window 
{
	background-color: black;
	width: 10%;
	height: 10%;

}

.brick
{
	position: absolute;
	background-color: white;
	border-radius: 15%;
	top: -5%;	
	left: 12.5%;
	width: 10%;
	height: 10%;
}

.el 
{
	left: 35%;
}

.tw
{
	left: 55%;
}

.th 
{
	left: 77.5%;
}

#flagpole
{
	position: absolute;
	border-radius: 10%;
	width: 2.5%;
	height: 40%;
	top: -40%;
	left: 48.75%;
	background-color: grey;
}

#banner
{
	position: absolute;
	top:-40%;
	left: 51.25%;
	width: 40%;
	height: 20%;
	background-repeat: no-repeat;
	background-image: url("ravenbanner.png");
	background-size: 100% 100%;
}

.third
{
	top: 57.5%;
	left: 46%;
	transform: rotate(-15deg);
}

.fourth
{
	top: 62.5%;
	left: 47.5%;
	transform: rotate(-30deg);
}

.fifth
{
	top: 66.5%;
	left: 49%;
	transform: rotate(-35deg);
}

#island3
{
	position: absolute;
	margin: auto;
	width: 5%;
	height: 5%;
	right: 43%;
	top: 75%;
	background: linear-gradient(180deg,	#f6d7b0 0%, #e7c496 30%, transparent 50%);
	border-radius: 50%;
}

.sixth
{
	top: 85%;
	left: 50%;
	transform: rotate(25deg);
}

.seventh
{
	top: 89%;	
	left: 48%;
	transform: rotate(50deg);
}

#sailboat
{
	position: absolute;
	top: 92%;	
	left: 37.5%;
	border-radius: 40%;
	width: 100px;
	height: 35px;
	background-color: black;
}

#sailboattop
{	
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	top: -30%;
}

